@font-face {
    font-family: Camphor_W01_Regular;
    src: url(/fonts/Camphor_W01_Regular.ttf);
}

@font-face {
    font-family: 'eina01-bolduploaded_file';
    src: url("/fonts/eina01-bold-webfont.woff2") format("woff2"), url("/fonts/eina01-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eina_01_semiboldsemibold';
    src: url("/fonts/eina01-semibold-webfont.woff2") format("woff2"), url("/fonts/eina01-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Camphor_W01_Regular";
    user-select: none;
}

.poster {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    padding: 60px 0;
    background: url(../img/background/final.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster .poster--container {
    background-color: #0f1515;
    width: 80%;
    min-height: 80%;
    border: 1px solid #efa402;
    border-left-width: 3px;
    border-right-width: 3px;
    padding: 2rem 0;
    transition: all .2s linear;
}

.poster .poster--container.poster--container__done {
    width: 100%;
}

.poster .poster--header {
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.poster .poster--header h2 {
    color: white;
    font-size: 2.7rem;
}

.poster .poster--header .header--team {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.poster .poster--header .header--team__it {
    flex-direction: row-reverse;
}

.poster .header--logo__ig {
    width: 6.5rem;
    margin-left: 2rem;
}

.poster .header--logo__it {
    width: 9.5rem;
    margin-right: 2rem;
}

.poster .poster--lane {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    visibility: hidden;
}

.poster .poster--lane.poster--lane__selected {
    visibility: visible;
}

.poster .poster--lane .poster--lane__team {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 40%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(149, 96, 11, 1) 66%, rgba(245, 169, 2, 1) 100%);
}

.poster .poster--lane .poster--lane__ig {
    flex-direction: row-reverse;
    text-align: right;
    background: rgb(245, 169, 2);
    background: linear-gradient(90deg, rgba(245, 169, 2, 1) 0%, rgba(149, 96, 11, 1) 34%, rgba(0, 0, 0, 1) 100%);
}

.poster .poster--lane .poster--lane__team::before,
.poster .poster--lane .poster--lane__team::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
}

.poster .poster--lane .poster--lane__team::before {
    opacity: 0;
    z-index: 2;
    transition: left .4s ease-in-out,
                right .4s ease-in-out,
                width .5s ease-in-out .5s;
}

.poster .poster--lane .poster--lane__team::after {
    opacity: 0;
    z-index: 3;
    background: #3c3d3b;
    transition: left .4s ease-in-out .5s,
                right .4s ease-in-out .5s,
                width .5s ease-in-out .7s;
}

.poster .poster--lane.poster--lane__selected .poster--lane__team::before,
.poster .poster--lane.poster--lane__selected .poster--lane__team::after {
    width: 0;
    opacity: 1;
}

.poster .poster--lane .poster--lane__ig::before,
.poster .poster--lane .poster--lane__ig::after {
    left: 100%;
}
.poster .poster--lane .poster--lane__it::before,
.poster .poster--lane .poster--lane__it::after {
    right: 100%;
}

.poster .poster--lane.poster--lane__selected .poster--lane__ig::before,
.poster .poster--lane.poster--lane__selected .poster--lane__ig::after {
    left: 0;
}
.poster .poster--lane.poster--lane__selected .poster--lane__it::before,
.poster .poster--lane.poster--lane__selected .poster--lane__it::after {
    right: 0;
}

.poster .poster--lane .lane--image {
    max-height: fit-content;
}

.poster .poster--lane .lane--image img {
    display: block;
}

.poster .poster--lane .lane--name {
    flex-grow: 1;
}

.poster .poster--lane .lane--image::before {
    content: '';
    position: absolute;
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #0f1515;
    top: 0;
    transition: left .4s ease-in-out .5s,
                right .4s ease-in-out .5s
}

.poster .poster--lane .poster--lane__it .lane--image::before {
    left: 0;
}

.poster .poster--lane .poster--lane__ig .lane--image::before {
    right: 0;
}

.poster .poster--lane.poster--lane__selected .poster--lane__it .lane--image::before {
    left: 100%;
}

.poster .poster--lane.poster--lane__selected .poster--lane__ig .lane--image::before {
    right: 100%;
}

.poster .poster--lane .poster--lane__it .lane--image img {
    transform: scaleX(-1);
    z-index: 1;
    position: relative;
}

.poster .poster--lane .lane--name {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0 3rem;
    opacity: 0;
    transition: margin-left .2s ease-out 1s,
                margin-right .2s ease-out 1s,
                opacity .2s ease-out 1s;
}

.poster .poster--lane .poster--lane__it .lane--name {
    margin-left: -3rem;
}

.poster .poster--lane .poster--lane__ig .lane--name {
    margin-right: -3rem;
}

.poster .poster--lane.poster--lane__selected  .lane--name {
    opacity: 1;
    margin-left: 3rem;
    margin-right: 3rem;
}

.poster .poster--lane .lane--name p {
    margin: 0.1rem 0;
}

.poster .poster--lane .lane--icon {
    text-align: center;
    width: 0;
    margin: 0 -0.5rem;
    overflow: hidden;
    background: #3c3d3b;
    position: relative;
    z-index: 4;
    transition: width .3s ease-in-out;
}

.poster .poster--lane.poster--lane__selected .lane--icon {
    width: 6rem;
}

.poster .poster--lane .lane--icon img {
    max-width: 50%;
}