@font-face {
  font-family: Camphor_W01_Regular;
  src: url(/fonts/Camphor_W01_Regular.ttf);
}
@font-face {
  font-family: 'eina01-bolduploaded_file';
  src: url("/fonts/eina01-bold-webfont.woff2") format("woff2"), url("/fonts/eina01-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'eina_01_semiboldsemibold';
  src: url("/fonts/eina01-semibold-webfont.woff2") format("woff2"), url("/fonts/eina01-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/base/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/base/_reset.scss */
body {
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  font-family: "Camphor_W01_Regular";
}

/* line 12, ../scss/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 17, ../scss/base/_reset.scss */
a {
  text-decoration: none;
}
/* line 19, ../scss/base/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../scss/layout/_header.scss */
.header {
  text-align: center;
}
/* line 4, ../scss/layout/_header.scss */
.header .ig,
.header .skt {
  margin-bottom: 90px;
}
/* line 9, ../scss/layout/_header.scss */
.header .img {
  display: inline-block;
  width: 128px;
  height: 88px;
}
/* line 15, ../scss/layout/_header.scss */
.header .after-img {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  padding-top: 90px;
}
/* line 22, ../scss/layout/_header.scss */
.header .btn {
  width: 200px;
  height: 50px;
}
/* line 28, ../scss/layout/_header.scss */
.header #oke {
  display: none;
}

/* line 1, ../scss/layout/_poster.scss */
.final-poster {
  position: fixed;
  width: 100%;
  display: none;
  top: 0;
  padding: 60px 0;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
/* line 10, ../scss/layout/_poster.scss */
.final-poster .team {
  max-width: 80%;
  text-align: center;
  margin: 0 0 60px 10%;
  background: rgba(0, 0, 0, 0.4);
}
/* line 16, ../scss/layout/_poster.scss */
.final-poster .team h2 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: white;
  margin-bottom: 0;
}
/* line 25, ../scss/layout/_poster.scss */
.final-poster .team img {
  position: absolute;
}
/* line 29, ../scss/layout/_poster.scss */
.final-poster .team .team-A,
.final-poster .team .team-B {
  width: 40%;
  display: inline-block;
  position: relative;
}
/* line 35, ../scss/layout/_poster.scss */
.final-poster .team .team-A .tyso,
.final-poster .team .team-B .tyso {
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  background: #f5ebb7;
  color: #990326;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-style: bold;
}
/* line 48, ../scss/layout/_poster.scss */
.final-poster .team .team-A .tyso p,
.final-poster .team .team-B .tyso p {
  margin: 0;
  width: 40px;
  height: 40px;
}
/* line 54, ../scss/layout/_poster.scss */
.final-poster .team .team-A .tyso.tyso-A,
.final-poster .team .team-B .tyso.tyso-A {
  left: -100px;
}
/* line 57, ../scss/layout/_poster.scss */
.final-poster .team .team-A .tyso.tyso-B,
.final-poster .team .team-B .tyso.tyso-B {
  right: -100px;
}
/* line 63, ../scss/layout/_poster.scss */
.final-poster .team .team-A {
  text-align: left;
}
/* line 66, ../scss/layout/_poster.scss */
.final-poster .team .team-A img {
  width: 95px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 74, ../scss/layout/_poster.scss */
.final-poster .team .team-B {
  text-align: right;
}
/* line 77, ../scss/layout/_poster.scss */
.final-poster .team .team-B img {
  width: 130px;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 86, ../scss/layout/_poster.scss */
.final-poster .lane {
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  padding: 10px 0;
}
/* line 94, ../scss/layout/_poster.scss */
.final-poster .lane div {
  display: inline-block;
}
/* line 98, ../scss/layout/_poster.scss */
.final-poster .lane p {
  margin-bottom: 0;
  font-family: "Calibri";
  font-size: 35px;
  font-style: italic;
}
/* line 104, ../scss/layout/_poster.scss */
.final-poster .lane p.no-default {
  font-family: "Calibri light";
}
/* line 109, ../scss/layout/_poster.scss */
.final-poster .lane .team-A {
  width: 37%;
  float: left;
  text-align: right;
  border: 5px solid #3d0000;
  background: #f5ebb7;
}
/* line 116, ../scss/layout/_poster.scss */
.final-poster .lane .team-A .name {
  float: right;
  padding-right: 20px;
  padding-top: 0.5em;
}
/* line 122, ../scss/layout/_poster.scss */
.final-poster .lane .team-A .img-A {
  width: 128px;
  height: 88px;
  float: right;
}
/* line 130, ../scss/layout/_poster.scss */
.final-poster .lane .team-B {
  width: 37%;
  float: right;
  text-align: left;
  border: 5px solid #3d0000;
  background: #f5ebb7;
}
/* line 137, ../scss/layout/_poster.scss */
.final-poster .lane .team-B .name {
  float: left;
  padding-left: 20px;
  padding-top: 0.5em;
}
/* line 143, ../scss/layout/_poster.scss */
.final-poster .lane .team-B .img-B {
  width: 128px;
  height: 88px;
  float: left;
}
/* line 151, ../scss/layout/_poster.scss */
.final-poster .lane .icon {
  width: 26%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* line 158, ../scss/layout/_poster.scss */
.final-poster .lane .icon img {
  width: 60px;
}
