.final-poster {
    position: fixed;
    width: 100%;
    display: none;
    top: 0;
    padding: 60px 0;
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;

    .team {
        max-width: 80%;
        text-align: center;
        margin: 0 0 60px 10%;
        background: rgba(0, 0, 0, 0.4);

        h2 {
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            color: white;
            margin-bottom: 0;

        }

        img {
            position: absolute;
        }

        .team-A,
        .team-B {
            width: 40%;
            display: inline-block;
            position: relative;

            .tyso {
                border-radius: 50%;
                position: absolute;
                z-index: 99;
                background: #f5ebb7;
                color:#990326;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                padding: 10px;
                font-size: 40px;
                font-style: bold;

                p{
                    margin: 0;
                    width: 40px;
                    height: 40px;
                }

                &.tyso-A {
                    left: -100px;
                }
                &.tyso-B {
                    right: -100px;
                }
            }
        }

        .team-A {
            text-align: left;

            img {
                width: 95px;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .team-B {
            text-align: right;

            img {
                width: 130px;
                left: 25px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .lane {
        max-width: 80%;
        margin-left: 10%;
        margin-bottom: 15px;
        text-align: center;
        position: relative;
        padding: 10px 0;

        div {
            display: inline-block;
        }

        p {
            margin-bottom: 0;
            font-family: "Calibri";
            font-size: 35px;
            font-style: italic;

            &.no-default {
                font-family: "Calibri light";
            }
        }

        .team-A {
            width: 37%;
            float: left;
            text-align: right;
            border: 5px solid #3d0000;
            background: #f5ebb7;

            .name {
                float: right;
                padding-right: 20px;
                padding-top: 0.5em;
            }

            .img-A {
                width: 128px;
                height: 88px;
                float: right;
            }

        }

        .team-B {
            width: 37%;
            float: right;
            text-align: left;
            border: 5px solid #3d0000;
            background: #f5ebb7;
            
            .name {
                float: left;
                padding-left: 20px;
                padding-top: 0.5em;
            }

            .img-B {
                width: 128px;
                height: 88px;
                float: left;
            }

        }

        .icon {
            width: 26%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;

            img {
                width: 60px;
            }
        }
    }
}