@font-face {
    font-family: Camphor_W01_Regular;
    src: url(/fonts/Camphor_W01_Regular.ttf);
}

@font-face {
    font-family: 'eina01-bolduploaded_file';
    src: url('/fonts/eina01-bold-webfont.woff2') format('woff2'),
        url('/fonts/eina01-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eina_01_semiboldsemibold';
    src: url('/fonts/eina01-semibold-webfont.woff2') format('woff2'),
        url('/fonts/eina01-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}