* {
     @include box-sizing(border-box);
}

body {
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    font-family: $font-camphor;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
